<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BaseDatos" connectionString="Data Source=&quot;dreyes14.database.windows.net, 1433&quot;;Persist Security Info=True;User ID=ProyectoProgramacion;Password=12345678Aa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>